* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Noto Sans", sans-serif;
}

header #header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20vh;
}

header #header-container h1 {
  font-family: "EB Garamond", serif;

  font-size: 40px;
  font-weight: 700;
  margin-left: 100px;
}

header #header-container button {
  border: none;
  background: none;
  color: #666;
  transition: color 0.1s;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 50px;
  margin-top: 8px;
  cursor: pointer;
}

header #header-container button:hover {
  color: #000;
}

main {
  display: flex;
  justify-content: center;

  height: 80vh;
}

main #cards-container {
  height: 100%;
  max-width: 1140px;
  padding: 0 90px 0 90px;

  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

main .card-wrapper {
  height: 100px;
  width: 300px;

  display: flex;
  flex-direction: row;
  cursor: pointer;

  justify-content: space-between;
  align-items: center;

  background-color: #f2f2f2;
  border-radius: 5px;
  color: black;
  margin: 10px;
  padding: 30px;
}

main #card-text-container {
  display: flex;
  flex-direction: column;
}

main .card-title {
  font-size: 18px;
  font-weight: 700;
}

main .card-author {
  margin-top: 8px;
  color: #555;
  font-size: 16px;
  font-weight: 400;
}

main .book-settings {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30px;
}

main .more-info {
  display: flex;
  background: url(edit.png) no-repeat;
  opacity: 0.4;
  transition: opacity 0.1s;
  background-size: 100% 100%;
  border: none;
  height: 22px;
  width: 22px;
  margin-bottom: 8px;
  cursor: pointer;
}

main .more-info:hover {
  opacity: 1;
}

main .delete-book {
  display: flex;
  background: url(garbage-bin.png) no-repeat;
  opacity: 0.4;
  transition: opacity 0.1s;

  background-size: 100% 100%;
  border: none;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

main .delete-book:hover {
  opacity: 1;
}

#add-book-modal {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.3);
}

#add-book-modal-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;

  background-color: #e6e6e6;
  border-radius: 8px;
  height: 80vh;
  width: 500px;
}

#modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}

#modal-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

#close-add-book {
  font-size: 30px;
  border: none;
  background-color: #e6e6e6;
  cursor: pointer;
}

#add-book-modal-container label {
  display: flex;
  width: auto;
  line-height: 30px;
}

#add-book-modal-container .input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#add-book-modal-container .input-wrapper input {
  display: flex;
  flex-grow: 1;
  margin-bottom: 10px;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
}

#add-book-modal-container input::placeholder {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

#add-book-modal-container .checkbox-wrapper {
  display: flex;
  font-family: "Noto Sans", sans-serif;
  align-items: center;
  margin-left: 10px;
}

#add-book-modal-container .checkbox-wrapper input {
  font-family: "Noto Sans", sans-serif;
}

#add-book-modal-container .checkbox-wrapper input {
  margin-left: 20px;
  vertical-align: middle;
}

#add-book-modal-container .submit-wrapper {
  display: flex;
  justify-content: flex-end;
}

#add-book-modal-container #submit-book {
  color: white;
  background: #3e3e3e;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}

#edit {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.3);
}

#edit-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;

  background-color: #e6e6e6;
  border-radius: 8px;
  height: 80vh;
  width: 500px;
}

#edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}

#edit-header-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

#edit-close {
  font-size: 30px;
  border: none;
  background-color: #e6e6e6;
  cursor: pointer;
}

#edit-container label {
  display: flex;
  width: auto;
  line-height: 30px;
}

#edit-container .input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#edit-container .input-wrapper input {
  display: flex;
  flex-grow: 1;
  margin-bottom: 10px;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
}

#edit-container input::placeholder {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

#edit-container #edit-pages-label {
  font-weight: 700;
  line-height: 36px;
  margin-right: 20px;
}

#edit-container .checkbox-wrapper {
  display: flex;
  font-family: "Noto Sans", sans-serif;
  align-items: center;
  margin-left: 10px;
}

#edit-container .checkbox-wrapper input {
  font-family: "Noto Sans", sans-serif;
}

#edit-container .checkbox-wrapper input {
  margin-left: 20px;
  vertical-align: middle;
}

#edit-container .submit-wrapper {
  display: flex;
  justify-content: flex-end;
}

#edit-container #edit-submit {
  color: white;
  background: #3e3e3e;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}

#detail {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.3);
}

#detail-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;

  background-color: #e6e6e6;
  border-radius: 8px;
  height: 80vh;
  width: 500px;
}

#detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 40px;
}

#detail-header-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

#detail-close {
  font-size: 30px;
  border: none;
  background-color: #e6e6e6;
  cursor: pointer;
}

#detail-content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

#detail-content div {
  margin-bottom: 20px;
}

#title-value,
#author-value,
#pages-value,
#is-finished-value {
  font-weight: normal;
}
